<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:insert="~{menu :: #nav-menu}"></div>
<table border="1">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Password</td>
        <td>Role</td>
        <td>Redaction</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">ID</td>>
        <td th:text="${user.name}">Koko</td>
        <td th:text="${user.password}">228.28</td>
        <td th:text="${user.role}">228.28</td>
        <td><a th:href="@{/users/{id}(id=${user.id})}">Edit</a></td>
    </tr>
</table>
<br>

<!--<div th:replace="filters :: filter-inputs"></div>-->

<br>
<!--<h2>Add product</h2>-->
<!--<form action="#" th:action="@{/products}" th:object="${product}" method="post">-->
<!--    Title <input type="text" th:field="*{title}">-->
<!--    Price <input type="number" step="any" th:field="*{price}">-->
<!--    <button type="submit">Save</button>-->
<!--</form>-->
</body>
</html>