<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Filter Products</title>
</head>
<body>

<div th:insert="~{menu :: #nav-menu}"></div>

<br>
<h2>Filter products</h2>
<form action="#" th:action="@{/productsFilter}" method="post">
    Start Filter
    <input type="number" step="any" name="startFilter">
    End Filter
    <input type="number" step="any" name="endFilter">
    <button type="submit">Filter</button>
</form>
<br>
<h1>Filter products</h1>
<p th:each="product : ${products}" th:text="${product.title_fld}" th:number="${product.price_fld}"/>

</body>
</html>