<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:insert="~{menu :: #nav-menu}"></div>
<table border="1">
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Price</td>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.product_id}">ID</td>>
        <td th:text="${product.title_fld}">Koko</td>
        <td th:text="${product.price_fld}">228.28</td>
    </tr>
</table>
<br>

<div th:replace="filters :: filter-inputs"></div>

<br>
<h2>Add product</h2>
<form action="#" th:action="@{/products}" th:object="${product}" method="post">
    Title <input type="text" th:field="*{title_fld}">
    Price <input type="number" step="any" th:field="*{price_fld}">
    <button type="submit">Save</button>
</form>
</body>
</html>